    body {
        .inrow {
            display: flex;
            flex-direction: row;
            height: 50px;
            align-items: center;
            .h2 {
                margin-right: 5px;
                font-size: 20px;
            }
        }
    }